@import './myFlexFramework.scss';
@import './palette.scss';

// COLORI
$primary-text: black;
$gray-text: $dusty-gray;
$rosa: #FEF7F3;
@mixin ombra-light {
    box-shadow: 1px 1px 15px rgba($color: #000000, $alpha: 0.2), -1px -1px 15px rgba($color: #000000, $alpha: 0.2)
}
@mixin yellow-filter {
    filter: brightness(0) saturate(100%) invert(60%) sepia(40%) saturate(556%) hue-rotate(0deg) brightness(100%) contrast(92%);
}
@mixin rose-filter {
    filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(2449%) hue-rotate(315deg) brightness(107%) contrast(99%);
}
// fonts
@mixin signature-text{
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    font-weight: 600;
    color: $malibu;
    text-align: center;
}
$sm-text:10px;
$md-text: 14px;
$lg-text: 20px;

// sizing
$section-gap: 60px;


// MIXINS

// containers
@mixin container-sm {
    max-width: 60%;
    margin: 0 auto;
}
@mixin container-md {
    max-width: 75%;
    margin: 0 auto;
}


// buttons
@mixin btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;  
    font-size: 12px;
    font-weight: 600;
}
@mixin orange-sm-btn {
    @include btn;
    padding: 5px 18px;
    background-color: $tulip-tree;
    color: $thunderbird;
    &:hover{
        background-color: $thunderbird;
        color: $white;
    }
}
@mixin orange-md-btn{
    @include orange-sm-btn;
    padding: 10px 25px;
}

// positioning
@mixin centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}